<div id="checklist">
	<f:form name="checklist" method="post" controllerName="List" actionName="save" class="checklist-form">
		<ul>
		<f:for each="{listitems}" as="listitem">
			<li>
			<f:if condition="{loggedinUser}">
				<f:then><f:for each="{listitem.checkbox}" as="check"><input type="checkbox" name="tx_sfchecklist_list[check][{check.RecordTable}][{check.RecordId}]" {check.Checked} /></f:for></f:then>
				<f:else><div class="notloggedin"><f:translate key="lang_notloggedin"/></div></f:else>
			</f:if>
				{listitem.Label}
			</li>
		</f:for>
		</ul>

	<f:if condition="{loggedinUser}">
		<f:for each="{hiddenValues}" as="hidden"><f:form.hidden name="tx_sfchecklist_list[{hidden.name}]" value="{hidden.value}"/>
		</f:for>

		<f:form.submit><f:translate key="lang_submit"/></f:form.submit>
	</f:if>
	</f:form>
</div>